
<div>
    <a href="/api/post/updatePost/{{id}}" id="aYourPost" class="yourPost">
    <h5 id="titlepost" class="inline createPost"> {{title}}</h5>
    <p id="myPostCreatedby" class="inline createPost"> Posted by {{user.username}} on {{updatedAt}}</p>
    </a>
</div>