<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cms Blog-Site</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/Css/style.css">
</head>
<body>
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Simple's Tech Blog</a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
             {{#if loggedIn}} 
            <li class="nav-item">
            <button  id="logout" >Logout</button>
            </li> 
            {{else}}
            <li class="nav-item">
            <a class="nav-link active" href="/user">Login</a>
            </li> 
            {{/if}}
        </nav>
    </header>
    <main>
         {{{body}}} 
    </main>

    <footer class="footer">
        <a href="https://github.com/Jukphillips" target="no_blank"><img src="/Images/GitHubLogo.png"
                alt="Github Link" class="img"></a> Justin Phillips <a
            href="https://www.linkedin.com/in/justin-phillips-965a39218/" target="no_blank"> <img
                src="/Images/LinkedInLogo.png" alt="LinkedIn" class="img"></a>
    </footer>
    <script src="/Js/frontJs.js" ></script>
</body>
</html>