
<div id="newPost">
    <h3 id="newPostH3"> New Post:</h3>
    <div id="newPostSpace">
        <h4> Title: </h4>
        <input class="textarea" id="titleInput">
        <h4> Content</h4>
        <textarea class="textarea" id='contentInput'></textarea>
        <button id="newPostBtn"> Create </button>
    </div>
</div>
