
<div id="newPost">
    <h3 id="newPostH3"> Update your post:</h3>
    <div id="newPostSpace">
        <h4> Title: </h4>
        <textarea class="textarea"  id="titleInput"> {{updateYourPost.title}}</textarea>
        <h4> Content</h4>
        <textarea class="textarea"  id='contentInput'>{{updateYourPost.content}} </textarea>
        <button id="updatePostBtn" data-id="{{updateYourPost.id}}"> Update </button>
    </div>
</div>